<div>
  <section class="logo">
    <img src="assets/angularairlogo.png" alt="Angular Air Logo">
    <h1>Angular Air</h1>
  </section>

  <section class="about">
    <p>
      A live videocast on YouTube about all things <strong>Angular</strong> (by Google), a JavaScript platform for building mobile and desktop web applications.<br />
    </p>
    <h2>Watch on YouTube at</h2>
    <a class="social-card" href="https://www.youtube.com/AngularAirPodcast">
      <span class="fab fa-youtube fa-2x"></span>
      <span>AngularAirPodcast</span>
    </a>
  </section>
  <section class="host">
    <h2>Hosted by</h2>
    <a href="https://twitter.com/schwarty" class="avatar-card">
      <img src="assets/JustinSchwartzenberger.jpg" alt="Justin Schwartzenberger Avatar Image">
      <p>Justin Schwartzenberger<br />@schwarty</p>
    </a>
  </section>
  <section class="panelists">
    <h2>Featuring the following panelists</h2>
    <a href="https://twitter.com/AlyssaNicoll" class="avatar-card">
      <img src="assets/AlyssaNicoll.jpg" alt="Alyssa Nicoll Avatar Image">
      <p>Alyssa Nicoll<br />@AlyssaNicoll</p>
    </a>
    <a href="https://twitter.com/brocco" class="avatar-card">
      <img src="assets/MikeBrocchi.jpg" alt="Mike Brocci Avatar Image">
      <p>Mike Brocchi<br />@brocco</p>
    </a>
  </section>

  <section class="social">
    <h2>Connect with us on Twitter at</h2>
    <a class="social-card" href="https://twitter.com/angularair">
      <span class="fab fa-twitter-square fa-2x"></span>
      <span>@angularair</span>
    </a>
  </section>
</div>
